.container {
  height: 100%;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  display: grid;
  place-items: center;
}

.container:hover {
  background-color: var(--secondary-button-background)
}