.container {
  background-color: var(--gray-2);
  padding: 4px 16px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/* Center wrapper */
.centerWrapper {
  flex-grow: 1;
}

.centerWrapper .link {
  width: 100%;
  max-width: 110px;
  position: relative;
}

/* Link that is .selected */
.centerWrapper .link.selected:hover {
  background-color: transparent;
}

.centerWrapper .link a {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
}

.centerWrapper .link svg {
  fill: var(--secondary-icon);
}

.centerWrapper .link.selected svg {
  fill: var(--blue-1);
}

.centerWrapper .link.selected:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--blue-1);
  bottom: -4px;

  position: absolute;
}

/* LeftWrapper */
.leftWrapper {
  padding: 4px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.brandIcon {
  min-height: 40px;
  min-width: 40px;
}

.searchBar {
  width: 100%;
  min-width: 40px;
  min-height: 40px;

  background-color: var(--secondary-button-background);
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 0px 12px;

  color: var(--primary-text);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.searchBar svg {
  fill: var(--secondary-icon);
}

.searchBar input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;

  color: currentColor;
  font-size: .9375rem;
}

.searchBar input::placeholder {
  color: var(--secondary-icon);
}

/* Right wrapper */
.rightWrapper .accountWrapper {
  color: var(--primary-text);
  font-weight: 600;
  font-size: .9375rem;
  padding: 4px;
  border-radius: 18px;
  height: 36px;

  display: flex;
  flex-direction: row;
  gap: 8px;
}

.rightWrapper .profilePic {
  height: 28px;
  width: 28px;
  background-image: url('../../assets/profile-pic.jpg');
  background-size: cover;
  border-radius: 50%;
}

.rightWrapper .iconWrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--secondary-button-background);
  transition: background-color 0.2s ease;

  display: grid;
  place-items: center;
}

.rightWrapper .iconWrapper:hover {
  background-color: var(--gray-6);
}

.rightWrapper .icon {
  fill: var(--primary-icon);
}